/* reset */
body {
    padding: 0;
    margin: 0;
}

body {
    font-size: 15px;
    line-height: 1.5;
    font-family: "Lato", sans-serif;
    background-color: #f0f0f0;
    justify-content: center;
    align-items: center;
    height: 100%;

}

header {
    top: 0;
    background-color: black;
    color: white;
    /* height: 50px; */
    width: 100%;
    position: fixed;
    z-index: 1;
    display: block;
}

nav {
    overflow: hidden;
    width: 100%;
    box-sizing: inherit;
}

nav a {
    color: inherit;
    text-decoration: none;
    font-size: 15px;
}

nav a:hover {
    color: rgba(255, 255, 255, 0.812);
    text-decoration: solid;
}

footer {
    margin-top: 0;
    background-color: gainsboro;
    font-size: 10px;
    /* position: absolute; */
    position: fixed;
    /* min-height: 100vh; */
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.button {
    text-align: center;
    white-space: normal;
}

.nav-items {
    padding: 8px 16px;
    width: auto;
    border: none;
    /* outline: 0; */
}

.nav-card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.to-right {
    float: right !important;
}

.to-left {
    float: left !important;
}


.padding-large {
    padding: 12px 24px !important;
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 2000px;
    margin-top: 46px
}

.container {
    padding: 0.01em 16px;
    justify-content: center;
    align-items: center;
}

.padding-64 {
    padding-top: 64px !important;
    padding-bottom: 64px !important
}

.wide {
    letter-spacing: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}

h2 {
    font-size: 30px;
}

.opacity {
    opacity: 0.60;
}

.justify {
    text-align: justify;
}

.center {
    text-align: center;
}

.padding-32 {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

section {
    max-width: 800px;
    box-sizing: inherit;
}

section p.justify {
    width: auto;
    margin: auto;
    padding: 10px 100px 10px 100px;
}

#inicio {
    margin-top: 50px;
}

.black-ground {
    background-color: black;
    color: white;
}



.cardBox {
    display:block;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    max-height: 700px;
}


.btn-card {
    background-color: black;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

.black-ground .cardBox {
    background-color: white;
    color: black;
}

.btn-card:hover {
    background-color: inherit;
    color: inherit;
}

.card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

#logo {
    font-size: 1.7em;
}


section.cardBox {
    background-color: white;
    color: black;
}