.card-profile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  max-width: inherit;
  max-height: 300px;
}

.card-profile .title {
  color: grey;
  font-size: 18px;
}

.card-profile button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card-profile a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.card-profile button:hover, a:hover {
  opacity: 0.7;
}

.profile-photo {
    text-align: center;
    border-radius:8px;
    max-width:auto;
    max-height:auto;
}

#mural{
    height: 100%;
    padding-bottom: 80px;
}

#mural .wide.title{
  margin-bottom: 50px;
}


.btn-card {
  background-color: inherit;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.btn-card:hover {
  background-color: lightsteelblue;
  color: inherit;
}